body {
    background-color: burlywood;
    padding: 10px;
    margin: 10px;
}

header {
    box-sizing: border-box;
    background-color: aquamarine;
    border: 1px solid black;
    width: 70%;
}

h1 p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}