body {
    /* background-color: #425F75; */
    padding: 10px;
    margin: 10px;
}
/* main content */

/* header block */
header {
    box-sizing: border-box;
    background-color: #88C6F5;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
}

/* header text */
h1 {
    text-align: center;
}
h1 p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    padding: 10px;
}
/* Carousel images */
.carousel-item img {
    margin: auto;
    height: 600px;
}

/* Column rows */
.light-blue {
    background: #6D9DC2;
}
.dark-blue {
    background: #656E75;
}
.bright-blue {
    background: #D4E8F7;
}

.navbar {
    background: #88C6F5;
    border-radius: 10px;
    overflow: hidden;
}