/* Main body of the site */
body {
    padding: 10px;
    margin: 10px;
}

/* Main content */

/* Header box */
header {
    box-sizing: border-box;
    background-color: #88C6F5;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
}

/* Header text */
h1 {
    text-align: center;
}
h1 p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}
p {
    text-align: center;
    font-size: 1.2em;
}

/* Carousel items */
.carousel-item img {
    margin: auto;
    height: 600px;
    border-radius: 10px;
}

/* Column rows */
.light-blue {
    background: #6D9DC2;
}
.dark-blue {
    background: #656E75;
}
.bright-blue {
    background: #D4E8F7;
}

/* First page columns */
.col-md-6 img {
    height: 250px;
}

/* Third page columns */
.col-9 {
    border-radius: 10px;
}
.col-9 img {
    margin-left: 35%;
    height: 250px;
    border-radius: 10px;
}
.col-4 {
    border-radius: 10px;
}
.col-6 {
    border-radius: 10px;
}

/* Nav bar */
.navbar {
    background: #88C6F5;
    border-radius: 10px;
    overflow: hidden;
}

/* Accordion labels */
.accordion-body {
    overflow: hidden;
}
.accordion-collapse {
    background: #6D9DC2;
}
.accordion-item {
    background: #88C6F5;
}